<html>

<head>
	<title>Home</title>
	<script type="text/javascript" src="http://cdn.webix.com/edge/webix.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="http://cdn.webix.com/edge/skins/compact.css">
	<script src="https://cdn.webix.com/components/edge/ckeditor/ckeditor.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<div id="maindialog" align="center">Main cBioPortal Genomic Data pulling Options Dialog</div>
	<div id="othercbiodialog" align="center">Other cBioPortal Genomic Data pulling Options Dialog</div>
	<style>
		.row {
		    display: flex;
		}

		.column {
		    flex: 20%;
		}

		.column1 {
			flex: 100%;
		}
    </style>
</head>

<body>
	<script type="text/javascript" src="./static/ui.js"></script>
	<div class="row">
		<div id="main_layout" class="column1" style="height:100%"></div>
		<div id="plotly_div" class="column" style="height:100%"></div> 
	</div>	
    
</body>

</html>